<%= semantic_form_for(@session) do |f| %>

  <%= f.inputs do %>
    <%= f.input :title %>
    <%= f.input :description, :hint => 'You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax here. Examples: <b>**bold**</b>, <i>*italic*</i>, [link](http://example.com)'.html_safe %>

    <% if !logged_in? %>
     <%= f.input :name, :label => 'Your name', :hint => "Please use your real name. This will be used in our printed materials." %>
     <%= f.input :email, :label => 'Your email', :hint => "Please use a real email address. We need this to contact you about your presentation." %>
    <% end %>

    <%= f.input :categories, :as => :check_boxes %>
    <%= f.input :level, :as => :select, :label => 'Topic level' %>
    <%=
      f.input :code_of_conduct_agreement,
        as: :boolean,
        required: true,
        label: ("I agree to the #{link_to 'Code of Conduct', 'https://minnestar.org/code-of-conduct'} governing this event.").html_safe,
        input_html: { checked: current_participant.signed_code_of_conduct_for_current_event? }
    %>
  <% end %>

  <%= f.actions do %>
    <%= f.button 'Update Session', :class => 'button'  %>
  <% end %>

  <!-- JENNA: This should be removed if it doesn't work -->
  <% if @session.persisted? %>
    <div class="right">
      <%= link_to 'Delete Session', session_path(@session), method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
<% end %>
