<% title(@session.title) %>
<% content_for :edit do %>
  <% edit(@session) do %>
    (<%= link_to 'edit', edit_session_path(@session) %>)
  <% end %>
<% end %>

<p>By <%= link_to @session.participant.name, @session.participant %></p>


<div class="row">
  <div class="column grid_6" style="margin-left:0px">

    <div>
      <%= markdown(@session.description).html_safe! %>
    </div>

    <h3>Categories</h3>

    <ul>
      <%= render :partial => 'category', :collection => @session.categories %>
    </ul>

    <h3>About the presenter <% edit(@session.participant) do %><span class="edit">(This is you! <%= link_to 'Edit your bio', edit_participant_path(@participant) %>.)</span><% end %></h3>

    
    <% if @session.participant.bio.blank? %>
    <p>This person hasn't yet added a bio.</p>
    <% end %>

    <%= markdown(@session.participant.bio).html_safe %>

    

 </div>

  <div class="column grid_4">
    <div class="sidebar-box">
      <div id="interested-in-attending">

        <% if !@session.attending?(current_participant) %>
        <h3>Interested in this session?</h3>
  
        <p><%= link_to 'Attend this session', '#', :id => 'attend' %></p>

        <p>This will add your name to the list of interested participants. You do not have to attend, but it will help us guage interest for scheduling purposes.</p>
        <% end %>
      </div>

      <h3>Participants</h3>

      <% if @session.participants.empty? %>
        <div id="no-participants">
          No one has expressed interest in attending this session yet. Be the first!
        </div>
      <% end %>

      <ul id="participants">
        <%= render :partial => 'participant', :collection => @session.participants %>
      </ul>

      <h3>Similar Sessions</h3>

      <% if !@similar_sessions.empty? %>

      <p>Does this session sound interesting? You may also like these:</p>

      <ul>
        <% @similar_sessions.each do |session| %>
        <li><%= link_to session.title, session %></li>
        <% end %>
      </ul>
      <% else %>

      <p>Help us find similar sessions by signing up for them!</p>

      <% end %>
    </div>
  </div>
</div>
