<% title('Admin: Manage Events') %>

<h2>Existing events</h2>

<p>The most recent event is the current event for session creation.</p>

<table class="table">
  <tr>
    <th>Event Name</th>
    <th>Event Date</th>
    <th>Timeslots</th>
    <th></th>
  </tr>

  <% @events.each do |event| %>
    <tr>
      <td><%= link_to event.name, [:admin, event] %></td>
      <td><%= event.date %></td>
      <td><%= event.timeslots.count %> (<%= link_to 'manage', admin_event_timeslots_path(event) %>)</td>
      <td><%= link_to "Edit", edit_admin_event_path(event) %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Create new event', new_admin_event_path %></p>
