<% title("Admin: Edit Session") %>

<%= semantic_form_for([:admin, @session]) do |f| %>

  <%= f.error_messages %>
  
  <% f.inputs do %>
    <%= f.input :title %>

    <div>
      By <%= @session.presenters.map {|p| link_to p.name, p }.to_sentence.html_safe %>
    </div>
    
    <%= f.input :description, :hint => 'You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax here. Examples: <strong>**bold**</strong>, <em>*italic*</em>, [link](http://example.com)' %>

    <%= f.input :categories, :as => :check_boxes %>

    <%= f.input :panel, :label => 'This is a panel discussion' %>
    <%= f.input :projector, :label => 'I need a projector' %>
    <%= f.input :summary, :label => 'Short description of the session (for the program)' %>

    <%= f.input :room_id, :as => :select, :collection => Event.current_event.rooms %>
    <%= f.input :timeslot_id, :as => :select, :collection => Event.current_event.timeslots %>

  <% end %>

 <%= f.buttons %>
<% end %>
