<% title('Edit your profile') %>

<%= semantic_form_for(@participant) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :name, :label => 'Your name', :hint => "Please use your real name. This will be used in our printed materials." %>
    <%= f.input :email, :label => 'Your email', :hint => "Please use a real email address. We need this to contact you about your presentation." %>
    <%= f.input :github_profile_username, :label => 'Your GitHub username (optional)' %>
    <%= f.input :twitter_handle, :label => 'Your Twitter (X) handle (optional)' %>
    <%= f.input :mastodon_url, :label => 'Your Mastodon URL (optional)' %>
    <%= f.input :bluesky_handle, :label => 'Your Bluesky handle (optional)' %>
    <%= f.input :bio, :hint => 'You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax here. Examples: <strong>**bold**</strong>, <em>*italic*</em>, [link](http://example.com)'.html_safe %>
    <%=
      f.input :code_of_conduct_agreement,
        as: :boolean,
        label: ("I agree to the #{link_to 'Code of Conduct', 'https://minnestar.org/code-of-conduct'} governing this event.").html_safe,
        input_html: {
          checked: @participant.signed_code_of_conduct_for_current_event?,
          disabled: @participant.signed_code_of_conduct_for_current_event?
        }
    %>
  <% end %>

  <%= f.actions do %>
    <%= f.button 'Update Profile', :class => 'button'  %>
  <% end %>
<% end %>
