<% title('Edit your profile') %>

<%= semantic_form_for(@participant) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :name, :label => 'Your name', :hint => "Please use your real name. This will be used in our printed materials." %>
    <%= f.input :email, :label => 'Your email', :hint => "Please use a real email address. We need this to contact you about your presentation." %>
    <%= f.input :bio %>
    <p class="inline-hints">
      You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax here.
      Examples: <code>**bold**</code> &nbsp; <code>_italic_</code> &nbsp; <code>[link](http://example.com)</code>
    </p>

    <p class="inline-hints">
      Add links to your personal sites and socials using the following format at the end of your bio:
    </p>
    <pre>
**Links:**

- [Personal site](https://myawesomesite.example.com)
- [AwesomeNet](https://example.com/myusername)
- [FriendTown](https://example.com/myusername)
    </pre>

    <%=
      f.input :code_of_conduct_agreement,
        as: :boolean,
        label: ("I agree to the #{link_to 'Code of Conduct', 'https://minnestar.org/code-of-conduct'} governing this event.").html_safe,
        input_html: {
          checked: @participant.signed_code_of_conduct_for_current_event?,
          disabled: @participant.signed_code_of_conduct_for_current_event?
        }
    %>
  <% end %>

  <%= f.actions do %>
    <%= f.button 'Update Profile', :class => 'button'  %>
  <% end %>
<% end %>
