<% title('MinneBar 7 Schedule') %>

<div class='row'>
  <div class='column grid_10'>
    <h1>MinneBar 7 Session Schedule</h1>
  </div>
</div>


<% @event.timeslots.each do |slot| %>
<div class='row timeslot'>

  <div class='column grid_1'>
    <h2><%= slot.starts_at.in_time_zone.to_s(:usahhmm) %></h2>
  </div>
  <div class='column grid_9'>
    <% slot.sessions.all(:include => 'room', :order => 'rooms.capacity desc, rooms.name asc').each do |session| %>
    <div class='session'>
      <h2><%= link_to session.title, session %> <small><%= session.room.name %></small></h2>

      <div class='presenter'>Presented by: <%= session.presenter_names.join(", ") %></div>

      <div class='description'>
        <%= session.summary %>
      </div>
    </div>
  <% end %>
  </div>
</div>
<% end %>

