.schedule
  - @event.timeslots.each do |slot|
    .timeslot
      %h1
        = slot.starts_at.in_time_zone.to_s(:hhmm)
        &ndash;
        = slot.ends_at.in_time_zone.to_s(:hhmm)
  
      .sessions
        - session_columns_for_slot(slot) do |column|
          .column
            - column.each do |session|

              .session
                .room= session.room.name
        
                %h2= session.title
          
                .detail
                  .presenters
                    - session.presenters.each do |presenter|
                      .presenter= presenter.name
                  .summary= session.summary
          
                .description
                  = markdown(session.description).html_safe
