.schedule
  - @event.timeslots.each do |slot|
    .timeslot
      %h1
        = slot.starts_at.in_time_zone.to_s(:hhmm)
        &ndash;
        = slot.ends_at.in_time_zone.to_s(:hhmm)
  
      .sessions
        - session_columns_for_slot(slot) do |column|
          .column
            - column.each do |session|

              .session
                .header
                  .room= session.room.name
        
                  %h2.title= session.title
          
                  .presenters
                    - session.presenters.each do |presenter|
                      .presenter= presenter.name
          
                .description
                  = markdown(session.description).html_safe
                  .bios
                    - session.presenters.each do |presenter|
                      .bio
                        .name= presenter.name
                        = markdown(presenter.bio).html_safe
                
                .summary= session.summary

:javascript
  $('.session .header').click(function(evt) {
    var session = $(evt.target).closest('.session')
    session.find('.summary').slideToggle()
    session.find('.description').slideToggle()
  })