<% @event.timeslots.each do |slot| %>
  <div class='timeslot'>
    <h1><%= slot.starts_at.in_time_zone.to_s(:hhmm) %></h1>
    <% slot.sessions.each do |session| %>
      <div class='session'>
        <h2><%= session.title %></h2>
        <div class='room'>
          <%= session.room.name %>
        </div>
        <% session.presenters.each do |presenter| %>
          <%= presenter.name %>
        <% end %>
        <div class='description'>
          <%= markdown(session.description).html_safe %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

