.schedule
  .schedule-header
    %h1
      = @event.name
      Session Schedule
    
    .controls
      %a#hide-all(href='#') Hide all details
      %a#show-all(href='#') Show all details
      .clr
    
    .hint Tap a session title to show/hide its details.
    .hint Tap a room name to see a map.
  
  .timeslots
    - @event.timeslots.each do |slot|
      .timeslot
        %h2
          = slot.starts_at.in_time_zone.to_s(:usahhmm)
          &ndash;
          = slot.ends_at.in_time_zone.to_s(:usahhmm)
  
        .sessions
          - session_columns_for_slot(slot) do |column|
            .column
              - column.each do |session|

                .session
                  .header
                    .room= session.room.name
        
                    %h3.title= session.title
          
                    .presenters
                      - session.presenters.each do |presenter|
                        .presenter= presenter.name
          
                  .description
                    = markdown(session.description).html_safe
                    .bios
                      - session.presenters.each do |presenter|
                        .bio
                          .name= presenter.name
                          = markdown(presenter.bio || "No bio.").html_safe
                
                  .summary= session.summary


:javascript
  var slowBrowser = /iphone|ipad|ipod|android|blackberry|mini|windows\sce|palm|mobile/i.test(navigator.userAgent.toLowerCase())
  
  var updateButtons = function() {
    $('#show-all').toggleClass('disabled', $('.summary:visible').length == 0)
    $('#hide-all').toggleClass('disabled', $('.description:visible').length == 0)
  }
  var updateButtonsDelayed = function() {
    setTimeout(updateButtons, 410)
  }
  
  $(updateButtons)

  $('.session .header').click(function(evt) {
    var session = $(evt.target).closest('.session')
    session.find('.summary').slideToggle()
    session.find('.description').slideToggle()
    updateButtonsDelayed()
  })
  
  $('#show-all').click(function() {
    if(slowBrowser) {
      $('.session .summary').hide()
      $('.session .description').show()
      updateButtons()
    } else {
      $('.session .summary').slideUp()
      $('.session .description').slideDown()
      updateButtonsDelayed()
    }
  })
  
  $('#hide-all').click(function() {
    if(slowBrowser) {
      $('.session .summary').show()
      $('.session .description').hide()
      updateButtons()
    } else {
      $('.session .summary').slideDown()
      $('.session .description').slideUp()
      updateButtonsDelayed()
    }
  })
