  <%# Note that fragment contains user-specific info, must be cached per user %>
  <%= cache [@event.sessions, current_participant], expires_in: 5.minutes do %>

    <p class="add-session-mobile"><%= add_sessions_button %></p>

    <h2>A Sampling of Sessions</h2>
    <ul class="sessionsList single-column">
      <%= render @random_sessions %>
    </ul>
    <p class="more_sessions"><%= link_to 'See all sessions', event_sessions_path(event_id: @event) %></p>

    <h2>Recently Added</h2>
    <ul class="sessionsList single-column">
      <%= render @recent_sessions %>
    </ul>
    <p class="more_sessions"><%= link_to 'See all sessions', event_sessions_path(event_id: @event) %></p>

    <% featured = @categories.first(2) + @categories.drop(2).sample(4) %>
    <% featured.each_slice(2) do |pair| %>
      <div class="row">
        <% pair.each do |category| %>
          <%= render 'category_grid', category: category, grid: pair.size == 1 ? 6 : 3 %>
        <% end %>
      </div>
    <% end %>

    <div class="clear"></div>
    <p class="add-session-desktop"><%= add_sessions_button %></p>


  <% end %>
