<% title('Log in') %>

<%= semantic_form_for(@participant_session, :url => login_path) do |f| %>

  <%= f.inputs do %>

    <%= f.input :email, :label => 'Email' %>
    <%= f.input :password, :label => 'Password', :as => :password %>
    <%= f.label :remember_me do %>
      <%= f.check_box :remember_me %>
      Remember me
    <% end %>
  <% end %>

  <%= f.actions do %>
    <%= f.button 'Log in'  %>
  <% end %>
<% end %>

<p>Don't have an account yet? <%= link_to 'Register here', new_participant_path %>.</p>
<p>Forgot your password? <%= link_to 'Reset Password', new_password_reset_path %>.</p>
