<% title('Edit Participant') %>

<%= semantic_form_for(@presenter, url: admin_presenter_path(@presenter)) do |f| %>
  <%= f.semantic_errors %>

  <%= f.inputs do %>
    <%= f.input :name, :label => 'Name' %>
    <%= f.input :email, :label => 'Email' %>
    <%= f.input :bio, :hint => 'You can use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> syntax here. Examples: <strong>**bold**</strong>, <em>*italic*</em>, [link](http://example.com)' %>
  <% end %>

  <%= f.actions %>
<% end %>
