<% title("Manage Presenters for #{@session.title}") %>

<h2>Presenters</h2>

<ul id="presenter-list">
<% @session.presentations.each do |presentation| %>
<li><%= link_to presentation.participant.name, presentation.participant %></li>
<% end %>
</ul>

<h2>Add presenters</h2>

<p><strong>Note:</strong> In order to add a presenter to your session, they must be registered in the system.</p>

<%= semantic_form_for([@session, @presentation]) do |f| %>
<%= text_field_tag 'name', '', :placeholder => 'Type a name', :id => 'typeahead' %> <%= submit_tag 'Add', :id => 'add-presenter' %>
<% end %>

<% content_for :javascript do %>
$(function() {
  $('#typeahead').typeahead(
    {name: 'presenters',
     prefetch: '/participants.json'}
   );
});


<% end %>

<p style="margin-top: 120px">
  Back to session page for <%= link_to @session.title, session_path(@session) %>
</p>

