<% title(@session.title) %>
<% content_for :edit do %>
  <% edit(@session) do %>
    (<%= link_to 'edit', edit_session_path(@session) %>)
  <% end %>
<% end %>

<p>
  by <%= @session.presenters.map {|p| link_to p.name, p }.to_sentence.html_safe %>
  <% edit(@session) do %>
    (<%= link_to 'manage presenters', session_presentations_path(@session) %>)
  <% end %>

  <% if @session.timeslot  %>
      |
      <b><%= @session.timeslot.date_range.to_s(with_day: false) %></b>
      <% if @session.room %>
        in <b><%= @session.room.name %></b>
      <% end %>
      |
      <%= link_to 'View Schedule', schedule_path(force: 1) %>
  <% end %>

</p>

<div class="row">
  <div class="column grid_6" style="margin-left:0px">

    <% if @session.description.present? %>
    <div class="session_description">
      <%= markdown @session.description %>
      <ul class="tags">
        <%= render :partial => 'category', :collection => @session.categories %>
      </ul>
      <div class="topic_level"><%= @session.level_name %></div>
    </div>
    <% end %>

    <div class="session_presenters">
      <!-- h3 class="heading">About the <%= @session.presenters.count > 1 ? 'presenters' : 'presenter' %></h3-->
      
      <% @session.presenters.each do |presenter| %>
      <h4><%= presenter.name %> <% edit(presenter) do %>
        <span class="edit">(This is you! <%= link_to 'Edit your bio', edit_participant_path(presenter) %>.)</span>
      <% end %></h4>
      
      <% if presenter.bio.blank? %>
      <p>This person hasn't yet added a bio.</p>
      <% else %>
      <%= markdown(presenter.bio) %>
      <% end %>
      <% end %>
    </div> 

    <hr />

    <% if @session.event == Event.current_event %>
    <h2 style="margin-top:2em;">Similar Sessions</h2>

    <% if !@similar_sessions.empty? %>

    <p>Does this session sound interesting? You may also like these:</p>

    <ul class="sessionsList">
      <%= render @similar_sessions %>
    </ul>
    <% else %>

    <p>Help us find similar sessions by signing up for them!</p>

    <% end %>
    <% end %>
  </div>

  <div class="column grid_4">

    <div id="interested-in-attending">
      <% if !@session.attending?(current_participant) %>
      <h3>Are you interested in this session?</h3>
      <p>This will add your name to the list of interested participants. It will help us gauge interest for scheduling purposes.</p>
      <button class="button yellow" id="attend">
        <div class="meta">minnebar</div>
        <div class="title">Yes! I might attend.</div>
      </button>
      <% end %>
    </div>

    <% if @session.participants.any? %>
      <h3>Interested Participants</h3>
    <% else %>
      <h3 id="no-participants">No participants yet</h3>
    <% end %>
    <ul class="sessionsList" id="participants">
      <%= render :partial => 'participant', :collection => @session.participants %>
    </ul>

  </div>
</div>
