<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= yield(:title) || t('conference') %></title>
    <%= stylesheet_link_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= yield(:head) %>
  </head>

  <body>

    <div class="full-column">
      <div class="center-column">
        <ul id="menu">
          <li class="star">
            <a href="/" >
              <span class="description">sessionizer home</span><br />
                minne<span class="star">✱</span>
            </a>
          </li>
          <li class="demo">
            <a href="http://minnestar.org/minnedemo/">
              <span class="description">geek show &amp; tell</span><br />minne<span class="demo">demo</span>
            </a>
          </li>

          <li class="bar">
            <a href="http://minnestar.org/minnebar/">
              <span class="description">(un)conference</span><br />
              minne<span class="bar">bar</span>
            </a>
          </li>
        </ul>
        <div class="clearboth"></div>

      </div><!-- / center-column -->
    </div><!-- / full-column -->

    <div class="center-column">

      <% if !logged_in? && !current_page?(new_login_path) && !current_page?(login_path) %>
        <p style="float:right">
          <%= link_to 'Log in', new_login_path %> <span>&nbsp;|&nbsp;</span> <%= link_to 'Forgot Password?', new_password_reset_path %>
        </p>
      <% end %>


      <% if logged_in? %>
        <p style="float:right">
          <%= link_to "Welcome #{current_participant.name}", [:edit, current_participant]  %>
          <span>&nbsp;|&nbsp;</span>
          <%= link_to 'Log out', logout_path, :method => 'delete' %>
        </p>
      <% end %>

      <div id="flash_message_placeholder"></div>
      <%- [:error, :notice, :success].each do |name| -%>
        <%= content_tag :div, flash[name], :id => "flash_#{name}" if flash[name] %>
      <%- end -%>

      <%- if show_title? -%>
        <h1><%=h yield(:title) %> <span class="edit"><%= yield :edit %></span></h1>
      <%- end -%>

      <%= yield %>

      <%= render :partial => 'layouts/javascript' %>
    </div>
    <%= render :partial => 'shared/ga' %>
    <%= render :partial => 'shared/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
