<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <title><%= @event.name %> &ndash; Session Schedule</title>
    <%= stylesheet_link_tag 'grid' %>
    <%= stylesheet_link_tag 'schedule', :media => 'screen, print' %>
    <%= stylesheet_link_tag 'schedule-print', :media => 'print' %>
    <%= stylesheet_link_tag 'schedule-mobile', :media => 'only screen and (max-device-width: 600px)' %>
    <%= javascript_include_tag 'schedule' %>
    <%= stylesheet_link_tag "fancybox/jquery.fancybox-1.3.4.css" %>

    <%= yield(:head) %>
  </head>
  <body id='schedule-body'>
    <%= yield %>
    <%= render :partial => 'shared/ga' %>
  </body>
</html>
