<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tag %>
    <title><%= @event.name %> &ndash; Session Schedule"</title>
    <%= stylesheet_link_tag 'grid', 'schedule' %>
    <%= stylesheet_link_tag 'schedule-mobile', :media => 'only screen and (max-device-width: 600px)' %>
    <%= javascript_include_tag 'jquery-1.7.2.min.js' %>

    <%= yield(:head) %>
  </head>
  <body id='schedule-body'>
     
    <%= yield %>
  </body>
</html>
